[submodule "apps/bitcoinjs-ui"]
	path = apps/bitcoinjs-ui
	url = https://github.com/bitcoincoretech/bitcoinjs-ui.git
[submodule "apps/bolt11-ui"]
	path = apps/bolt11-ui
	url = https://github.com/bitcoincoretech/bolt11-ui.git
[submodule "apps/bitcoin21ro"]
	path = apps/bitcoin21ro
	url = https://github.com/bitcoincoretech/bitcoin21ro.git
